* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#app {
    display: grid;
    font-size: 5em;
    text-align: center;
    height: 100vh;
    grid-template-areas: 
        "hed hed hed"
        "nav img img"
        "nav img img"
        "fot fot fot"
    ;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#header {
    background-color: #232b2b;
    grid-area: hed;
}

#nav {
    background-color: #232b2b;
    font-size: 30px;
    grid-area: nav;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
}

#imgGallery {
    background-color: #19323C;
    grid-area: img;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
}

#footer {
    background-color: #353839;
    grid-area: fot;
}

@media (max-width: 1100px) {
    #app {
        grid-template-rows: 20% 10% 25% 25% 20%;
        grid-template-areas: 
        "hed hed hed"
        "nav nav nav"
        "img img img"
        "img img img"
        "fot fot fot"
        ;
    }
    
    li a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

@media (max-width: 500px) {
    #app {
        font-size: 4em;
        grid-template-rows: 20% 10% 20% 10% 20% 20%;
        grid-template-areas: 
        "hed hed"
        "nav nav"
        "img img"
        "img img"
        "fot fot"
        ;
    }
}