* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#app {
    display: grid;
    font-size: 50px;
    letter-spacing: 10px;
    height: 100vh;
    grid-template-areas: 
        "hed hed hed"
        "nav img img"
        "nav img img"
        "fot fot fot"
    ;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
}

img:hover {
    opacity: 0.5;
}

#header {
    background-color: #353831;
    grid-area: hed;
    padding: 50px;
}

#nav {
    background-color: #353831;
    font-size: 50px;
    grid-area: nav;
    display: block;
    color: white;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

#about {
    text-decoration: none;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 10px;
}

a:hover {
    background-color: #555;
}

#imgGallery {
    background-color: #45503B;
    grid-area: img;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(6, 200px);
    grid-gap: 1rem;
}

#footer {
    background-color: #353831;
    grid-area: fot;
    text-align: right;
    font-size: 15px;
    padding: 25px;
}

#github {
    text-decoration: none;
}

@media (max-width: 1100px) {
    #app {
        grid-template-rows: 20% 10% 25% 25% 20%;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #nav {
        grid-area: nav;
    }
    
    #about {
        justify-items: stretch;
        padding: 8px 16px;
        writing-mode: horizontal-tb;
    }
}

@media (max-width: 500px) {
    #app {
        font-size: 4em;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    #imgGallery {
        grid-area: img;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    }

    a {
    writing-mode: horizontal-tb;
    }

    #nav {
        padding-left: 0;
        padding-right: 0;
    }

    #footer {
        text-align: center;
        padding-top: 40px;
    }

    #github {
        justify-items: stretch;
        padding: 8px 16px;
        font-size: 4em;
    }
}